.hero-section {
    background-image: url("../images/pexels-jess-bailey-designs-1162519.jpg");
    background-size: cover;
    background-position: center;
    height: 600px; /* Adjust height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(193, 7, 7); /* Adjust text color as needed */
  }
  
  .hero-content {
    max-width: 800px;
    padding: 0 20px;
  }
